<div class="search-bar">
  <div class="name">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchQueryChange(searchQuery)"
        nz-input
        placeholder="Please type a name..."
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        (click)="getPersonByName(searchQuery)"
        nz-button
        nzType="default"
        nzSize="default"
        nzSearch
      >
        Search
      </button>
    </ng-template>
  </div>
</div>
