<nz-list-item class="card-container" *ngFor="let person of peopleList">
  <nz-list-item-meta>
    <nz-list-item-meta-title>
      <h2>{{ person.name }}</h2>
    </nz-list-item-meta-title>
    <nz-list-item-meta-description>
      Born: {{ person.birth_year }}
    </nz-list-item-meta-description>
  </nz-list-item-meta>
  <div class="button-container">
    <button nz-button nzType="primary">Show more</button>
  </div>
  <nz-list-item-extra>
    <img
      nz-image
      width="200px"
      height="200px"
      nzSrc="https://picsum.photos/seed/picsum/200/200"
      alt=""
    />
  </nz-list-item-extra>
</nz-list-item>
