.button-container {
  margin-top: 50px;
}

.person-container {
  border-bottom: 1px solid #dadada;
}

.planet-container {
  margin-top: 10px;
}

.person-container,
.planet-container {
  font-size: large;
}
